* {
	margin: 0px;
	padding: 0px;
}


.container {
	/*border: 2px solid #000000;*/
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-style: italic;
	width: 900px;
	height: auto;
	margin: 20px auto;
	background-color: #ededed;
	border-radius: 5px;
	overflow: hidden;
}


h1 {
	font-size: 30px;
	margin: 10px;
}


.task {
	/*border: 1px solid #000000;*/
	padding: 10px;
	margin: 10px;
}


.empty_list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.empty_list__text {
	font-size: 25px;
	font-weight: normal;
}

.none_style {
	display: none !important;
}


.background_image {
	width: 300px;
	height: 200px;
	border-radius: 5%;
}


.task_list__item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	border: 3px solid #7f7ff8;
	margin: 20px 0px;
	word-break: break-all;
	text-indent: 35px;
}


.task_list__item,.task_title {
	font-size: 17px;
	padding: 2px;
}


.button_action {
	margin: 3px;
}


.card {
	/*border: 1px solid #7f7ff8;*/
	padding: 10px;
	margin: 20px;
	width: 840px;
}


.card_header {
	display: inline-block;
	font-size: 17px;
	padding: 10px;
}


.form_item {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 10px 5px;
	width: 830px;
}


.form_text {
	width: inherit;
	height: 150px;
	resize: vertical;
}

.form_placeholder {
	padding: 10px 1px;
	color: #535353;
	font-size: 15px;
}

.button_form {
	font-size: 15px;
	padding: 10px;
	margin-left: 10px;
	color: #ffffff;
	background-color: #6a6ace;
	border-radius: 5px;
}